@model BMIApplication.Models.UserViewModel

@{
    ViewBag.Title = "User Details";
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <table id="grid-container">
        <tr>
            <th class="grid-item">
                @Html.LabelFor(m => m.Name)
            </th>
            <th class="grid-item">
                @Html.LabelFor(m => m.Weight)
            </th>
            <th class="grid-item">
                @Html.LabelFor(m => m.Height)
            </th>
            <th class="grid-item">
                @Html.LabelFor(m => m.BMI)
            </th>
        </tr>
        <tr>
            <td class="grid-item">
                @Html.DisplayFor(m => m.Name)
            </td>
            <td class="grid-item">
                @Html.DisplayFor(m => m.Weight)
            </td>
            <td class="grid-item">
                @Html.DisplayFor(m => m.Height)
            </td>
            <td class="grid-item">
                @Html.DisplayFor(m => m.BMI)
            </td>
        </tr>
    </table>
</body>
</html>